@import url('https://db.onlinewebfonts.com/c/e5791db7c357b483e1e0d9e23bc6791e?family=Chica+Gogo+NF+W01+Bold');
body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #4ba2b3;
    overflow: hidden; /* Prevent scrollbars during animations */
}

.opqrs-container {
    font-family: 'Chica Gogo NF W01 Bold', sans-serif;
    font-size: 10rem;
    color: white;
    position: absolute;
    display: none; /* Hidden until typed animation is complete */
    justify-content: center;
    align-items: center;
    z-index: 10;
    transition: all 1s ease-in-out;
}

.fade-letters {
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

.content {
    font-family: 'Arial', sans-serif;
    font-size: 5rem;
    color: white;
    opacity: 0; /* Initially hidden */
    transition: opacity 1s ease-in;
    position: absolute;
    display: block; /* Initially hidden */
}

.zoom-o {
    font-weight: bold;
    display: inline-block;
    transition: transform 4s ease-out, opacity 4s ease-out;
}

/* New typing effect styles */
.typing-container {
    font-family: 'Chica Gogo NF W01 Bold', sans-serif;
    font-size: 10rem;
    color: white;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 11;
}

.blinking-cursor {
    font-weight: bold;
    font-size: 10rem;
    animation: blink 0.8s steps(1) infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

/* Animation states */
body.fade-pqrs .fade-letters {
    opacity: 0; /* Fade out 'Óculos' */
}

body.move-o .zoom-o {
    transform: translate(275%, 0); /* Move 'Q' to the center */
}

body.zoom-active .zoom-o {
    transform: scale(30) translate(6%, 0); /* Zoom in 'Q' */
    opacity: 0; /* Fade out as it zooms in */
}

body.show-content .content {
    opacity: 1;
    z-index: 5;
    transition: opacity 1s ease-in;
}

